# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV
# =========================

venv/
.env/

# =========================
# DATASET
# =========================

dataset_scene/
raw_dataset/

# =========================
# OUTPUT
# =========================

output/

# =========================
# IMAGES
# =========================

*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.tif
*.CR2
*.CR3
*.NEF
*.ARW
*.DNG
*.RAF
*.RW2

# =========================
# NOTEBOOK
# =========================

.ipynb_checkpoints/

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# SYSTEM
# =========================

.DS_Store
Thumbs.db